
.contact {

  margin-bottom: 20px;

  .subsection {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  li {
    display: inline;
    list-style: none;

    a {
      color: rgb(84, 130, 51);
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }
}