
body {
  background: #528036 url(../../build/images/background.jpg) no-repeat fixed 0 0
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 15px;
}

.jumbotron {
  background: linear-gradient(to bottom, white, $panel-bg);
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 30px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.section-header {
  background: linear-gradient(to bottom, white, $panel-bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px;
}

.subsection {
  background: $panel-bg;
  border-top: 1px solid white;
  margin-top: 1px;
  padding: 30px 40px 40px 40px;

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 992px) {
    h3 {
      margin-top: 0;
    }
  }

  .container {
    width: inherit;
  }

  &.all-apples {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}