
// Colors

$light-green: rgba(234, 240, 228, 0.70);
$med-green: rgb(116, 125, 103);
$panel-bg: rgba(234, 240, 228, 0.70);

// Typography

$font-family-sans-serif:  'Varela Round', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base:          12px !default;